/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
}

.root {
  background: linear-gradient(110deg, #e7e7e7 60%, #dfdfdf 60%);
  width: 100vw;
}

.root-nav {
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #d4d4d5;
}

.root-nav a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
  margin: 1.5rem;
}

.root-nav a.active-main-link {
  border-bottom: 5px solid red;
}

.centered-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

/* Home page */
.main {
  justify-content: center;
  /* border: 1px solid red; */
  height: 90vh;
}
.school-name {
  /* border: 1px solid red; */
  text-align: center;
  width: 80vw;
  /* margin: 4rem; */
}

.stat-num,
.statistics .icon {
  color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
}

.ui.statistics .statistic > .label {
  text-transform: lowercase;
  letter-spacing: 5px;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.stat-num {
  padding-left: 10px;
}

.school-name > p {
  font-size: 5.5rem;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
  line-height: 0.9em;
}

#rocket-sm {
  font-size: 2.5rem;
  margin: 0 0.5rem 0 0;
  vertical-align: 18%;
}

/* AllStudents */
.custom-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

.custom-card {
  width: 225px;
  /* flex: 1 0 33%; */
  margin: 1rem;
}

#card-desc {
  padding-left: 1em;
  font-size: 1.1em;
}

.card {
  font-size: 0.9rem;
}

/* SingleStudent/Campus profile */

#header-profile-campus,
#header-profile-student {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8rem;
  padding-top: 2px;
}
.custom-items {
  /* font-size: 1.1rem; */
  /* margin: 40px; */
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.custom-item {
  flex: 0 0 50%;
}

.horiz-menu-row {
  display: flex;
  justify-content: centered;
  /* border: 1px solid red; */
  margin: 2.5rem;
}

.hello-active {
  background-color: rgba(0, 0, 0, 0.05);
}
.two-item-menu-item a {
  color: rgba(0, 0, 0, 0.87);
}

.ui.divider.div-sm {
  margin: 5px 0 0 0;
}

.custom-image {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  /* padding-bottom: 5rem; */
}

.ui.items > .item > .custom-image > img {
  height: 100%;
  background: #fff;
}

.ui.items > .item .meta {
  margin-bottom: 1.2em;
}

/* req id to change semantic-ui styling */
#form-segment-addC,
#form-segment-addS {
  width: 80vw;
  margin-top: 2rem;
}

/* Card titles */
.header-link {
  color: red;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.6rem;
}
.header-link:hover {
  transition: all 0.5s ease;
  font-size: 1.65rem;
}

/* No students enrolled */
.header-msg {
  color: #6a6969;
}

#header-msg-width {
  width: 100vw;
}

/* Add/plus button */
.add-button a {
  color: #6a6969;
}
.icon-padding {
  padding-left: 0.5em;
}

.delete-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: 0;
}
