/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
}

.root {
  background: linear-gradient(110deg, #e7e7e7 60%, #dfdfdf 60%);
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(#ffffff, #c0c0c0); */
  /* height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw; */
}

/* nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
} */

.root-nav {
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #d4d4d5;
}

.root-nav a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
  margin: 1.5rem;
}

.root-nav a.active-main-link {
  border-bottom: 5px solid red;
}

/* AllStudents */
.centered-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.custom-card-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

.custom-card {
  width: 200px;
  /* flex: 1 0 33%; */
  margin: 1rem;
}

.card {
  font-size: 0.85rem;
}

/* SingleStudent profile */
.custom-items {
  /* font-size: 1.1rem; */
  /* margin: 40px; */
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.custom-item {
  flex: 0 0 40%;
}

.horiz-menu-row {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  margin: 2.5rem;
  width: 40%;
}

.hello-active {
  background-color: rgba(0, 0, 0, 0.05);
}
.two-item-menu-item a {
  color: rgba(0, 0, 0, 0.87);
}

/* .ui.button,
.ui.button:focus {
  background-color: #98adbe;
}

.ui.button:hover {
  background-color: #839cb1;
} */

/* .content {
  margin: 0;
} */

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.card-list img {
  width: 250px;
} */

.ui.divider.div-sm {
  margin: 5px 0 0 0;
}

.custom-image {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  /* padding-bottom: 5rem; */
}

.ui.items > .item > .custom-image > img {
  height: 100%;
}

.ui.items > .item .meta {
  margin-bottom: 1.2em;
}

/* #remove-robot {
  color: #6e8ca4;
  font-size: 1.1em;
}

#remove-robot:hover {
  color: #456b8a;
} */

/* req id to change semantic-ui styling */
#form-segment-addC,
#form-segment-addS {
  width: 80vw;
  margin-top: 3rem;
}

/* Card titles */
.header {
  color: red;
  font-size: 1.1rem;
}
.header:hover {
  font-size: 1.15rem;
}

/* Home page */
main {
  text-align: center;
  width: 80vw;
  padding: 2.5rem;
}

.ui.statistics .statistic > .label {
  text-transform: lowercase;
  letter-spacing: 5px;
  padding-top: 5px;
}

.stat-num {
  padding-left: 10px;
}

/* Add/plus button */
.add-button a {
  color: #6a6969;
}
.icon-padding {
  padding-left: 0.5em;
}
